.container{
    background-color: yellow;
}

div{
    width: 100px;
    height: 100px;
    background-color: red;
    border: solid 1px black;
    
}

.box{
    background-color: aqua;
    position: fixed; /*박스고정*/
    left: 20px;
    top: 20px;
}